Repository jsh9/pydoclint: changes, and which pre-commit hooks are due for each by the changed paths.
All: copy_readme, check-self

copy_readme:
  name: copy_readme
  entry: python .pre_commit_helper_scripts/copy_readme.py
  language: system

check-self:
  name: check-self
  entry: pydoclint --config=pyproject.toml
  language: system

Drop setup.py/cfg in favor of pyproject.toml
  pyproject.toml
Due: none

Migrate from setup.cfg/py to pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Due: copy_readme, check-self

Migrate from setup.cfg/py to pyproject.toml
  CHANGELOG.md
  pyproject.toml
  setup.cfg
  setup.py
Due: copy_readme, check-self

Migrate from setup.cfg/py to pyproject.toml (#251)
  CHANGELOG.md
  pyproject.toml
  setup.cfg
  setup.py
Due: copy_readme, check-self

Add downloads stats badges to README
  README.md
Due: none

Update index.md
  docs/index.md
Due: none

Replace cercis with muff
  .pre-commit-config.yaml
  muff.toml
  pydoclint/main.py
  pydoclint/utils/invisibleChars.py
  pydoclint/utils/return_anno.py
  pydoclint/utils/violation.py
  pydoclint/utils/visitor_helper.py
  pydoclint/utils/walk.py
  pydoclint/visitor.py
  pyproject.toml
  tests/test_main.py
  tests/utils/test_arg.py
  tests/utils/test_visitor_helper.py
  tox.ini
Due: copy_readme, check-self

Properly escape backslash; remove redundant noqa LN002
  pydoclint/utils/return_anno.py
  tests/utils/test_arg.py
Due: copy_readme, check-self

Fix bug in isShortDocstring
  .pre-commit-config.yaml
  README.md
  docs/index.md
  pydoclint/utils/doc.py
  requirements.dev
  tests/data/edge_cases/29_yields_section/case.py
  tests/test_main.py
Due: copy_readme, check-self

Migrate away from Prettier
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/checking_class_attributes.md
  docs/config_options.md
  docs/how_to_config.md
  docs/index.md
  docs/notes_for_users.md
  docs/style_mismatch.md
  docs/violation_codes.md
Due: none

Update changelog and bump version
  CHANGELOG.md
  pyproject.toml
Due: none

Fix bug in isShortDocstring (#256)
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/index.md
  pydoclint/utils/doc.py
  pyproject.toml
  requirements.dev
  tests/data/edge_cases/29_yields_section/case.py
  tests/test_main.py
Due: copy_readme, check-self

Revert "Migrate away from Prettier"
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/checking_class_attributes.md
  docs/config_options.md
  docs/how_to_config.md
  docs/index.md
  docs/notes_for_users.md
  docs/style_mismatch.md
  docs/violation_codes.md
Due: none

Fix mdformat config
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/checking_class_attributes.md
  docs/config_options.md
  docs/how_to_config.md
  docs/index.md
  docs/notes_for_users.md
  docs/style_mismatch.md
  docs/violation_codes.md
Due: none

Add yamlfix
  .github/.pre-commit-config-self-check.yaml
  .github/workflows/python-package.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .prettierrc.yaml
  pyproject.toml
Due: none

Add pretty-format-json pre-commit hook
  .pre-commit-config.yaml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Migrate away from Prettier (#257)
  .github/.pre-commit-config-self-check.yaml
  .github/workflows/python-package.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .prettierrc.yaml
  CHANGELOG.md
  README.md
  docs/checking_class_attributes.md
  docs/config_options.md
  docs/how_to_config.md
  docs/index.md
  docs/notes_for_users.md
  docs/style_mismatch.md
  docs/violation_codes.md
  pyproject.toml
Due: none

Add check-arg-defaults
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/config_options.md
  docs/index.md
  docs/notes_for_users.md
  docs/style_deviations.md
  pydoclint/flake8_entry.py
  pydoclint/main.py
  pydoclint/utils/arg.py
  pydoclint/utils/generic.py
  pydoclint/visitor.py
  pyproject.toml
  tests/data/google/arg_defaults/cases.py
  tests/data/numpy/arg_defaults/cases.py
  tests/data/sphinx/arg_defaults/cases.py
  tests/test_baseline.py
  tests/test_generic.py
  tests/test_main.py
Due: copy_readme, check-self

Add check-arg-defaults support for Google style
  CHANGELOG.md
  docs/style_deviations.md
  pydoclint/utils/arg.py
  pydoclint/utils/generic.py
  pydoclint/visitor.py
  pyproject.toml
  tests/data/google/arg_defaults/cases.py
  tests/data/numpy/arg_defaults/cases.py
  tests/test_main.py
Due: copy_readme, check-self

Add check-arg-defaults support for Google style (#258)
  CHANGELOG.md
  docs/style_deviations.md
  pydoclint/utils/arg.py
  pydoclint/utils/generic.py
  pydoclint/visitor.py
  pyproject.toml
  tests/data/google/arg_defaults/cases.py
  tests/data/numpy/arg_defaults/cases.py
  tests/test_main.py
Due: copy_readme, check-self

Split test_main.py into 2 more files
  docs/notes_for_developers.md
  tests/test_edge_cases.py
  tests/test_main.py
  tests/test_playground.py
Due: copy_readme

Fix comment handling in type hints
  pydoclint/utils/arg.py
  pydoclint/utils/generic.py
  pydoclint/utils/visitor_helper.py
  pydoclint/visitor.py
  tests/data/edge_cases/30_comments_in_type_hints/numpy.py
  tests/test_edge_cases.py
  tests/test_generic.py
  tests/utils/test_visitor_helper.py
Due: copy_readme, check-self

Fix tox issues
  pydoclint/utils/arg.py
  pydoclint/utils/generic.py
  pydoclint/utils/visitor_helper.py
Due: copy_readme, check-self

Rename a test
  tests/test_main.py
Due: copy_readme

Fix issue from Claude Code cheating
  tests/test_generic.py
Due: copy_readme

Bump version and update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Fix comment handling in type hints (#259)
  CHANGELOG.md
  pydoclint/utils/arg.py
  pydoclint/utils/generic.py
  pydoclint/utils/visitor_helper.py
  pydoclint/visitor.py
  pyproject.toml
  tests/data/edge_cases/30_comments_in_type_hints/numpy.py
  tests/test_edge_cases.py
  tests/test_generic.py
  tests/test_main.py
  tests/utils/test_visitor_helper.py
Due: copy_readme, check-self

Properly ignore in-line comments in doc type hints
  CHANGELOG.md
  pydoclint/utils/generic.py
  pyproject.toml
  tests/data/edge_cases/31_syntax_error_in_parsing_type_hints/numpy.py
  tests/test_edge_cases.py
Due: copy_readme, check-self

Properly ignore in-line comments in doc type hints (#260)
  CHANGELOG.md
  pydoclint/utils/generic.py
  pyproject.toml
  tests/data/edge_cases/31_syntax_error_in_parsing_type_hints/numpy.py
  tests/test_edge_cases.py
Due: copy_readme, check-self

Support `@property` + `@abstractmethod` without a Returns: section
  docs/violation_codes.md
  pydoclint/utils/special_methods.py
  tests/data/common/property_method.py
Due: copy_readme, check-self

README typo
  README.md
Due: none

Autoformat
  README.md
  docs/index.md
Due: none

Add validation of config file path and section
  .gitignore
  AGENTS.md
  pydoclint/parse_config.py
  tests/test_data/config_files/example_config.toml
  tests/test_data/config_files/no_pydoclint_section.toml
  tests/test_parse_config.py
Due: copy_readme, check-self

Auto-format
  AGENTS.md
  muff.toml
  tests/test_parse_config.py
  tox.ini
Due: copy_readme

auto-format
  .pre-commit-config.yaml
  pydoclint/parse_config.py
Due: copy_readme, check-self

fix mypy error
  pydoclint/parse_config.py
Due: copy_readme, check-self

fix line length
  pydoclint/parse_config.py
Due: copy_readme, check-self

Path conditions:
  copy_readme: any of: \.py$
  check-self: any of: \.py$, but not: ^(tests?/)
